<!DOCTYPE html>
<html>

<head>
    <title>Example</title>
</head>

<body>
    <h1>Example</h1>
    
    <h1><% JSON.perse(myArray) %></h1>
    <script>
        let sampleJsonData = ['apple', 'banana', 'orange']
        var myArray = '<%- JSON.stringify(sampleJsonData) %>'
    </script>
</body>

</html>