* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../static/background-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

.task-comletion-status,
.task-completed-by {
  margin-top: 20px;
}

.btn-main-page {
  margin-top: 20px;
}

.data-page-outer {
  display: flex;
  flex-direction: column;
}

.data-outer {
  background-color: #ffffff;
  border-radius: 12px;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; */

}

.data-form {
  text-align: center;
}

.table-container {
  width: 1450px;
  height: 550px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th,
.table tbody td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.table thead th {
  background-color: #f2f2f2;
}

.data-button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.get-insights-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.no-data-h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 1300px;
  height: 500px;
  padding-top: 170px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.create-new-task-h2 h2 {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

/* filter page */

.filter-tasks {
  display: flex;
}

.high,
.moderate,
.low {
  width: 33.33%;
  box-sizing: border-box;
}

.task-not-completed,
.task-completed {
  width: 50.0%;
  box-sizing: border-box;
}

.task-completed-by-today,
.task-completed-by-2-days,
.task-completed-by-7-days {
  width: 33.33%;
  box-sizing: border-box;
}


/* filter page ends */

/* create task page */
.create-task {
  /* width: 860px; */
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.create-task h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.create-task form {
  font-size: 20px;
}

.create-task form .form-group {
  margin-bottom: 12px;
}

.create-task form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

.create-task-input {
  margin-bottom: 20px;
}

.create-new-task-size {
  width: 1300px;
  height: 500px;
  overflow-y: scroll;
}

/* ------------------------------------------ */
#add-custom-date {
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
}

.custom-date-label {
  display: flex;
  justify-content: left;
}

.custom-end-date-label {
  margin-left: 37.5%;
}

.custom-date-label label {
  margin-right: 10px;
}

.custom-date {
  display: flex;
  justify-content: space-between;
}

.custom-date input {
  margin-right: 10px;
}

/* ------------------------------------- */

.meeting-needed-div {
  display: none;
}

/* ------------------------------------- */

.mail-day-before-same-after-time {
  display: none;
}

/* ------------------------------------- */

.custom-meeting-date-and-time {
  display: none;
}

#add-custom-meeting-date-and-time {
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
}

.custom-meeting-date-and-time-label {
  display: flex;
  justify-content: left;
}

/* .custom-start-meeting-date-and-time-label {
  
} */

.custom-middle-meeting-date-and-time-label {
  margin-left: 21.9%;
}

.custom-end-meeting-date-and-time-label {
  margin-left: 24.5%;
}


/* .custom-meeting-date-and-time-label label {
  margin-right: 10px;
} */

.custom-meeting-date-and-time-input {
  display: flex;
  justify-content: space-between;
}

.custom-meeting-date-and-time-input input {
  margin-right: 10px;
}

#custom-meeting-before-after {
  margin-right: 10px;
}

/* daily start-date and end-date */

.daily-start-end-label {
  display: flex;
  justify-content: left;
}

.daily-end-label {
  margin-left: 42.3%;
}

.daily-start-end-label label {
  margin-right: 10px;
}

.daily-start-end-input {
  display: flex;
  justify-content: space-between;
}

.daily-start-end-input input {
  margin-right: 10px;
}

/* ---------------------------- */
/* weekly start date and end date */

.weekly-start-end-label {
  display: flex;
  justify-content: left;
}

.weekly-end-label {
  margin-left: 42.3%;
}

.weekly-start-end-label label {
  margin-right: 10px;
}

.weekly-start-end-input {
  display: flex;
  justify-content: space-between;
}

.weekly-start-end-input input {
  margin-right: 10px;
}

/* ---------------------------- */
/* monthly start date and end date */

.monthly-start-end-label {
  display: flex;
  justify-content: left;
}

.monthly-end-label {
  margin-left: 42.3%;
}

.monthly-start-end-label label {
  margin-right: 10px;
}

.monthly-start-end-input {
  display: flex;
  justify-content: space-between;
}

.monthly-start-end-input input {
  margin-right: 10px;
}

/* -------------------------------- */

/* Set the display property of the parent element to flex */
.select-days-weekly {
  display: flex;
}

/* Set the width of each child element to 50% */
.single-day,
.multiple-day {
  width: 50%;
}

/* Set the padding and box-sizing of each child element */
.single-day,
.multiple-day {
  padding: 10px;
  box-sizing: border-box;
}

/* ---------------------------- */

.select-days-monthly {
  display: flex;
}

/* Set the width of each child element to 50% */
.first-column-monthly,
.second-column-monthly,
.third-column-monthly,
.fourth-column-monthly {
  width: 25%;
}

/* Set the padding and box-sizing of each child element */
.first-column-monthly,
.second-column-monthly,
.third-column-monthly,
.fourth-column-monthly {
  padding: 10px;
  box-sizing: border-box;
}

/* ---------------------------- */

/* ------------------------------------------------------------------------------------------------------------- */
/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* The slider - the moving part of the switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Add a circle to the slider */
.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

/* When the checkbox is checked, move the slider */
.switch input:checked+.slider {
  background-color: #2196F3;
}

.switch input:checked+.slider::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* -------------------------------- */
/* -------Bin Box------------------ */

.delete-btn {
  border-radius: 0;
  margin-bottom: 4px;
}

.delete-btn .bi-trash {
  margin-right: 5px;
}

.meeting-delete-btn {
  border-radius: 0;
  margin-bottom: 5px;
}

.meeting-delete-btn .bi-trash {
  margin-right: 5px;
}


/* --------------------------------------------------- */
/* communt box */

.comments-container {
  width: 1000px;
  height: 500px;
  overflow-y: scroll;
}

.comments-box {
  width: 1450px;
  height: 550px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

.comment-left,
.comment-right {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.comment-right {
  justify-content: flex-end;
}

.comment-left p,
.comment-right p {
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.comment-left {
  margin-left: 10px;
}

.comment-right {
  margin-right: 10px;
}

.comment-left p {
  margin-right: auto;
  background-color: #d5d5d5;
}

.comment-right p {
  margin-left: auto;
  background-color: #f2f2f2;
}

.comment-input-group-one {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.add-comment-input {
  flex: 1;
  margin-right: 5px;
}

.comment-input-group-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* ------------------------------------------------------ */
/* --------------CSS for the chart -----------------------*/

.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  flex-direction: column;
  align-self: center;
  /* Added this line */
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chart-bg {
  width: 80%;
  height: 500px;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  /* Added this line */
}

.chart-title {
  color: white;
}